<?xml version="1.0"?>
<launch>
	<arg name="semantix_port" default="7500"/>
    	<!-- config -->
  	<arg name="world" default="world" />
  	<!-- [x1, y1, z1, x2, y2, z2] -->
    <arg name="clipping_box" value="[2.539, 2.714, 0.000, -2.461, -1.178, 3.000]"/>

    <node pkg="isse_crazy" type="CrazyFly_Ros_interface.py" name="semantic_crazyflie_$(arg semantix_port)" >
		<param name="semantix_port" value="$(arg semantix_port)"/>
    </node>

</launch>
